{% extends 'news/base.html' %}
{% block content %}
    <div>
        {% for post in posts %}
            <h4>
                {{ post.title|upper|safe|linebreaks }}
            </h4>
            <p>
                {{ post.description|safe|truncatechars_html:400 }}
            </p>
            <a href="{% url 'post_detail' pk=post.pk %}">Read full post</a>
            {% include 'news/html_helpers/post_status.html' %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <hr class="line"/>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% include 'news/html_helpers/pagination.html' %}
    </div>
{% endblock %}
