{% extends 'news/base.html' %}
{% block content %}
    <div>
        {% for comment in comments %}
            <p>{{ comment.description|safe|truncatechars_html:50 }}</p>
            <p><i>Comment added to post:
                <a href="{% url 'post_detail' pk=comment.post.pk %}">
                    {{ comment.post.title|safe }}</a></i></p>
            <a class="btn btn-info" href=
                    "{% url 'comment_detail' pk=comment.pk %}">View comment
            </a>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <hr class="line"/>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if comments.count != 0 %}
            {% include 'news/html_helpers/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}
