{% extends 'news/base.html' %}
{% load tz %}
{% block content %}
    <p>{{ comment.description|safe }}</p>
    {% timezone "Europe/Kiev" %}
        <i>Comment added:
            {{ comment.created_on|date:'Y-m-d H:i'|linebreaks }}</i>
    {% endtimezone %}
    {% if comment.author == request.user %}
        <div>
            <a class="btn btn-secondary"
               href="{% url 'edit_comment' pk=comment.pk %}">Edit
                comment</a>
        </div>
    {% else %}
        <i> Commented by: {{ comment.author }}</i>
    {% endif %}
    <br>
    <div>
        <i><a href="{% url 'post_detail' comment.post.pk %}"
        >Go back to Post: {{ comment.post.title }}</a></i>
    </div>
    <div>
        <a href="{{ request.META.HTTP_REFERER|escape }}">Back</a>
    </div>
{% endblock %}