{% extends 'news/base.html' %}
{% block title %}
    Post {{ post.title|truncatechars:10 }} detail
{% endblock %}
{% load tz %}
{% block general_content %}
    {% if post.status == 1 %}
        <h4 class="post-title-detail"
        >{{ post.title|upper|safe|linebreaks }}</h4>
        {{ post.description|safe }}
        <p>{{ comments.count }} comments</p>
        <div>
            {% if user.is_authenticated and post.author != request.user %}
                <a class="btn btn-secondary" href="
{% url "create_comment" pk=post.pk %}">Add comment</a>
            {% endif %}
        </div>
        {% for comment in page_obj %}
            {% if comment.author == request.user %}
                <p><a href="{% url 'comment_detail' pk=comment.pk %}">
                    {{ comment.description|safe }}</a></p>
            {% else %}
                <p> {{ comment.description|safe }}</p>
            {% endif %}
            <i>Author: {{ comment.author }}</i>
            <br>
            {% timezone "Europe/Kiev" %}
                <i>Published: {{ comment.created_on }}</i>
            {% endtimezone %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <hr class="line"/>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% include 'news/html_helpers/pagination.html' %}
    {% else %}
        <p>This post is in moderation or declined by moderator.</p>
    {% endif %}
{% endblock %}
{% block content %}
    {% if post.author == request.user %}
        {% include 'news/html_helpers/post_status.html' %}

        <a class="btn btn-secondary" href="
{% url "edit_post" pk=post.pk %}">Edit</a>

    {% endif %}
    </a>
{% endblock %}